body {
    background-color: #9acee2;
}

p {
  font-family: 'Assistant', sans-serif;
  color: white;
}

h1 {
    text-align: center;
font-family: 'Comfortaa', cursive;
  font-size: 50px;
  color: white;
}

p {
  text-align: center;
  font-family: "Assistant", serif;
  margin-left: 20px;
  margin-right: 20px;
}

h3 {
    text-align: center;
    font-family: 'Playfair Display', serif;
}

h5 {
    text-align: center;
    font-family: 'Playfair Display', serif;
}